<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!-- Arguments -->
  <arg name="bt_xml_file" default="$(find behaviortree)/bt_xml/lane_detection_bt.xml" />
  
  <!-- Launch the behavior tree main node -->
  <node pkg="behaviortree" type="bt_main" name="bt_main" output="screen">
    <param name="bt_xml_path" value="$(arg bt_xml_file)" />
  </node>
</launch>