<launch>
  <!-- Launch the image projector node -->
  <param name="image_transport" value="compressed" />
  <node pkg="camera" type="image_projector" name="image_projector" output="screen">
    <param name="camera_topic" value="/camera/image" />
    <param name="top_x" value="108" />
    <param name="top_y" value="18" />
    <param name="bottom_x" value="114" />
    <param name="bottom_y" value="66" />
  </node>
</launch>