<launch>
  <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch">
    <arg name="map_file" value="$(arg map_file)"/>
  </include>
  
  <!-- Override AMCL parameters -->
  <!-- <param name="/amcl/initial_pose_x" value="-1.6"/>
  <param name="/amcl/initial_pose_y" value="-0.25"/>
  <param name="/amcl/initial_pose_a" value="-1.570796"/> -->

  <!-- <param name="/amcl/initial_pose_x" value="-1.75"/>
  <param name="/amcl/initial_pose_y" value="-1.75"/>
  <param name="/amcl/initial_pose_a" value="-0.1"/> positive : counter-clockwise -->

  <param name="/amcl/initial_pose_x" value="-0.04"/>
  <param name="/amcl/initial_pose_y" value="0.029"/>
  <param name="/amcl/initial_pose_a" value="0.0"/>
</launch>